// $mainbg:#ff4800;
// $mainbg-70:rgba(255, 72, 0, 0.70);
// $mainbg-50:rgba(255, 72, 0, 0.50);
// $mainbg-30:rgba(255, 72, 0, 0.30);
// $mainbg-20:rgba(255, 72, 0, 0.20);
// $mainbg-10:rgba(255, 72, 0, 0.10);
// $bgSecondary:#ff3700;
// $gradiant-1:#ff3300;
// $bgSecondary2:#ff5800;

$bgWhite:#ffffff;
$bgWhite-70:rgba(255, 255, 255, 0.70);
$bgWhite-50:rgba(255, 255, 255, 0.50);
$bgWhite-30:rgba(255, 255, 255, 0.30);
$bgWhite-20:rgba(255, 255, 255, 0.20);
$bgWhite-10:rgba(255, 255, 255, 0.10);
$bgWhite:#ffffff;
$cardBg:rgb(203, 228, 240);
$cardBg-70:rgba(203, 228, 240, 0.70);
$cardBg-50:rgba(203, 228, 240, 0.50);
$cardBg-30:rgba(203, 228, 240, 0.30);
$cardBg-20:rgba(203, 228, 240, 0.20);
$textColor:#381a1a;
$textColor-70:rgba(52, 52, 52, 0.70);
$textColor-50:rgba(52, 52, 52, 0.50);
$textColor-30:rgba(52, 52, 52, 0.30);
$textColor-20:rgba(52, 52, 52, 0.20);
$textColor-10:rgba(52, 52, 52, 0.10);
$blue-gray:#292d3e;
$blue-gray-50: rgba(41, 45, 62, 0.50);

// changing

$mainbg:#008f19;
$mainbg-70:rgba(0, 143, 24, 0.70);
$mainbg-50:rgba(0, 143, 24, 0.50);
$mainbg-30:rgba(0, 143, 24, 0.30);
$mainbg-20:rgba(0, 143, 24, 0.20);
$mainbg-10:rgba(0, 143, 24, 0.10);
$bgSecondary:#02af1f;
$gradiant-1:#08801c;
$bgSecondary2:#0eb129;


// $mainbg:#008041;
// $mainbg-70:rgba(0, 128, 64, 0.70);
// $mainbg-50:rgba(0, 128, 64, 0.50);
// $mainbg-30:rgba(0, 128, 64, 0.30);
// $mainbg-20:rgba(0, 128, 64, 0.20);
// $mainbg-10:rgba(0, 128, 64, 0.10);
// $bgSecondary:#07a556;
// $gradiant-1:#08801c;
// $bgSecondary2:#0f9652;
